{% load static %}
<html>
    <head>
        <title>Musician manager</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link href="{% static 'base.css' %}" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    </head>
    <body class="h-100 d-flex flex-column">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <a href="/" class="navbar-brand">Musician manager</a>
                <a href="{% url 'locations' %}" class="nav-link">Locations</a>
            </div>
        </nav>
        <div class="container-fluid p-3 pt-2 flex-xl-grow-1 d-flex flex-column">
            {% block header %}
                <div class="row d-flex">
                    <div class="col-xl-auto">
                        <h1>{% block headerTitle %}{% endblock %}</h1>
                    </div>
                    {% block headerItems %}{% endblock %}
                </div>
            {% endblock %}
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>