{% extends 'app/base.html' %}
{% block headerTitle %}{{ concert }}{% endblock %}
{% block headerItems %}
<div class="col d-flex-1"></div>
<div class="col-xl-auto d-flex align-items-center">
    <a class="btn btn-danger" href="{% url 'delete-concert' concert.id %}">Delete</a>
</div>
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div id="actual-form">
              {% for field in form %}
                <p style="{% if field.label|lower == 'participants' %}display:none{% endif %}">
                  {{ field.label_tag }}
                  {{ field }}
                </p>
              {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    {% include 'app/table_musician.html' with musicians=musicians participant_form=form %}
                </div>
            </div>
            <div class="row">
                <div class="col-xl-auto">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
                <div class="col-xl-auto">
                    <a class="btn btn-secondary" href="{% url 'project-detail' concert.project.id %}">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}