{% extends 'app/base.html' %}
{% block headerTitle %}Delete confirmation{% endblock %}
{% block content %}
  <form method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    {{ form }}
    <input type="submit" value="Delete" class="btn btn-danger">
    {% if back_url %}
    <a type="button" class="btn btn-secondary" href="{{ back_url }}">Cancel</a>
    {% endif %}
  </form>
{% endblock %}