{% extends 'app/base.html' %}
{% block headerTitle %}Historical: {{ historical_name }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                {% include 'app/table_historical.html' with values=history unit=unit %}
                <form method="post" class="aligned-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Update" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
  </div>
{% endblock %}