{% extends 'app/base.html' %}
{% block headerTitle %}{{ object.name }} edition: {{ object }}{% endblock %}
{% block headerItems %}
<div class="col d-flex-1"></div>
<div class="col-xl-auto d-flex align-items-center">
    <a class="btn btn-danger" href="{% url delete_url_name object.id %}">Delete</a>
</div>
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="row">
                <div class="col-xl-auto">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
                <div class="col-xl-auto">
                    <a class="btn btn-secondary" href="{% url back_url_name %}">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}