{% extends 'app/base.html' %}
{% block headerTitle %}Overview{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-between align-items-center">
                    <div class="col-xl-auto">
                        <h5 class="card-title">Projects</h5>
                    </div>
                    <div class="col-xl-auto">
                        <a class="btn btn-primary" href="{% url 'project-creation' %}">New</a>
                    </div>
                </div>
                {% include 'app/table_project.html' with projects=projects %}
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-between align-items-center">
                    <div class="col-xl-auto">
                        <h5 class="card-title">Musicians</h5>
                    </div>
                    <div class="col-xl-auto">
                        <a class="btn btn-primary" href="{% url 'musician_creation' %}">New</a>
                    </div>
                </div>
                {% include 'app/table_musician.html' with musicians=musicians %}
            </div>
        </div>
    </div>
</div>
<div class="row flex-xl-grow-1"></div>
<div class="row">
    <div class="col"></div>
    <div class="col-xl-2">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-between align-items-center">
                    <div class="col-xl-auto">
                        <h5 class="card-title">Mileage price</h5>
                    </div>
                    <div class="col-xl-auto pb-1">
                        <a type="button" class="btn btn-primary" href="{% url 'mileage-history' %}">Details</a>
                    </div>
                    <div class="col">
                        <p>{{ historicals.mileage_price.amount|default:'No value available' }} {{ historicals.mileage_price.unit }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-between align-items-center">
                    <div class="col-xl-auto">
                        <h5 class="card-title">Rehearsal price</h5>
                    </div>
                    <div class="col-xl-auto pb-1">
                        <a type="button" class="btn btn-primary" href="{% url 'rehearsal-history' %}">Details</a>
                    </div>
                    <div class="col">
                        <p>{{ historicals.rehearsal_price.amount|default:'No value available' }} {{ historicals.rehearsal_price.unit }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-between align-items-center">
                    <div class="col-xl-auto">
                        <h5 class="card-title">Concert price</h5>
                    </div>
                    <div class="col-xl-auto pb-1">
                        <a type="button" class="btn btn-primary" href="{% url 'concert-history' %}">Details</a>
                    </div>
                    <div class="col">
                        <p>{{ historicals.concert_price.amount|default:'No value available' }} {{ historicals.concert_price.unit }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}