{% extends 'app/base.html' %}
{% block headerTitle %}Locations{% endblock %}
{% block content %}
<div class="row">
  <div class="col">
      <div class="card">
          <div class="card-body">
              {% include 'app/table_locations.html' with values=locations %}
              <form method="post" class="aligned-form">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <input type="submit" value="Add" class="btn btn-primary">
              </form>
          </div>
      </div>
  </div>
</div>
{% endblock %}