{% extends 'app/base.html' %}
{% block headerTitle %}{{ musician }}{% endblock %}
{% block content %}
<div class="row">
  <div class="col">
      <div class="card">
          <div class="card-body">
              <form method="post" class="aligned-form">
                    {% csrf_token %}
                    <div id="actual-form">
                        {{ form.as_p }}
                        <div class="row">
                            <div class="col-xl-auto">
                                <p>Last residence: {{ musician.residence_set.latest.location.name }}</p>
                            </div>
                            <div class="col-xl-auto">
                                <a href="{% url 'residence' musician.id %}">View or edit residence history</a>
                            </div>
                        </div>
                    </div>
                  <input type="submit" value="Update" class="btn btn-primary">
              </form>
          </div>
      </div>
  </div>
</div>
{% endblock %}