{% extends 'app/base.html' %}
{% block headerTitle %}Participants ({{ project }}){% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div id="actual-form" style="display: none">
                {{ form.as_p }}
            </div>
            <div class="row">
                <div class="col">
                    {% include 'app/table_musician.html' with musicians=musicians participant_form=form %}
                </div>
            </div>
            <div class="row">
                <div class="col-xl-auto">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
                <div class="col-xl-auto">
                    <a class="btn btn-secondary" href="{% url 'project-detail' project.id %}">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}