{% extends 'app/base.html' %}
{% block headerTitle %}New {{ subitem_name }} ({{ project }}){% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <form method="post" class="aligned-form">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}