{% extends 'app/base.html' %}
{% block headerTitle %}{{ project }}{% endblock %}
{% block headerItems %}
<div class="col d-flex-1"></div>
<div class="col-xl-auto d-flex align-items-center">
    <a 
        class="btn btn-danger {% if project.concert_set|length == 0 and project.rehearsal_set|length == 0 %}disabled{% endif %}" 
        href="{% url 'delete-project' project.pk %}"
    >Delete</a>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">General info</h5>
                <form method="post" class="aligned-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Update" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-between align-items-center">
                    <div class="col-xl-auto">
                        <h5 class="card-title">Rehearsals</h5>
                    </div>
                    <div class="col-xl-auto">
                        <a type="button" class="btn btn-primary" href="{% url 'new-rehearsal' project.pk %}">New</a>
                    </div>
                </div>
                {% include 'app/table_rehearsal.html' with rehearsals=project.rehearsal_set.all %}
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-between align-items-center">
                    <div class="col-xl-auto">
                        <h5 class="card-title">Concerts</h5>
                    </div>
                    <div class="col-xl-auto">
                        <a type="button" class="btn btn-primary" href="{% url 'new-concert' project.pk %}">New</a>
                    </div>
                </div>
                {% include 'app/table_concert.html' with concerts=project.concert_set.all %}
            </div>
        </div>
    </div>
</div>
<div class="row pt-2">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-between align-items-center">
                    <div class="col-xl-auto">
                        <h5 class="card-title">Participants</h5>
                    </div>
                    <div class="col">
                        <a class="btn btn-primary" href="{% url 'participant-edition' project.id %}">Change participants</a>
                    </div>
                </div>
                {% include 'app/table_musician.html' with musicians=project.participants.all %}
            </div>
        </div>
    </div>
</div>
{% endblock %}