{% extends 'app/base.html' %}
{% block headerTitle %}Rehearsal {{ rehearsal.date }}: {{ rehearsal.project.name }}{% endblock %}
{% block headerItems %}
<div class="col d-flex-1"></div>
<div class="col-xl-auto d-flex align-items-center">
    <a class="btn btn-danger" href="{% url 'delete-rehearsal' rehearsal.id %}">Delete</a>
</div>
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div id="actual-form">
              {% for field in form %}
                <p style="{% if field.label|slice:':11'|lower == 'participant' %}display:none{% endif %}">
                    {{ field.label_tag }}
                    {{ field }}
                </p>
              {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    {% include 'app/table_musician.html' with musicians=musicians participant_hour_form=form %}
                </div>
            </div>
            <div class="row">
                <div class="col-xl-auto">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
                <div class="col-xl-auto">
                    <a class="btn btn-secondary" href="{% url 'project-detail' rehearsal.project.id %}">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}