{% extends 'app/base.html' %}
{% block headerTitle %}Residences for {{ musician }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                {% include 'app/table_residences.html' with values=history %}
                <form method="post" class="aligned-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="row">
                      <div class="col-xl-auto">
                        <input type="submit" value="Update" class="btn btn-primary">
                      </div>
                      <div class="col-xl-auto">
                        <a type="button" class="btn btn-secondary" href="{% url 'musician' musician.pk %}">Back</a>
                      </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
{% endblock %}