{% extends 'app/table_base.html' %}
{% block id %}project-table{% endblock %}
{% block head %}
    <th scope="col">Name</th>
    <th scope="col">Year</th>
    <th scope="col">Conductor</th>
{% endblock %}
{% block body %}
    {% for project in projects %}
        <tr data-url="{% url 'project-detail' project.id %}" class="clickable">
            <td>{{ project.name }}</td>
            <td>{{ project.get_season }}</td>
            <td>{{ project.conductor }}</td>
        </tr>
    {% endfor %}
    <script>
        $(() => {
            $('table#project-table td').click(function () {
                window.location.href = $(this).parent().data('url');
            });
        })
    </script>
{% endblock %}
