{% extends 'app/table_base.html' %}
{% block id %}rehearsal-table{% endblock %}
{% block head %}
    <th scope="col">Date</th>
    <th scope="col">Duration</th>
{% endblock %}
{% block body %}
    {% for rehearsal in rehearsals %}
        <tr data-url="{% url 'rehearsal-assistance' rehearsal.id %}" class="clickable">
            <td>{{ rehearsal.date }}</td>
            <td>{{ rehearsal.duration }}</td>
        </tr>
    {% endfor %}
    <script>
        $(() => {
            $('table#rehearsal-table td').click(function () {
                window.location.href = $(this).parent().data('url');
            });
        })
    </script>
{% endblock %}