{% extends 'app/table_base.html' %}
{% load static %}
{% block id %}concert-table{% endblock %}
{% block head %}
    <th scope="col">Date</th>
    <th scope="col">Location</th>
{% endblock %}
{% block body %}
    {% for concert in concerts|dictsort:'date' %}
        <tr data-url="{% url 'concert-assistance' concert.id %}" class="clickable">
            <td>{{ concert.date }}</td>
            <td>{{ concert.location }}</td>
        </tr>
    {% endfor %}
    <script>
        $(() => {
            $('table#concert-table td').click(function () {
                window.location.href = $(this).parent().data('url');
            });
        })
    </script>
{% endblock %}