{% extends 'app/table_base.html' %}
{% block id %}residence-table{% endblock %}
{% block head %}
    <th scope="col">Date</th>
    <th scope="col">Residence</th>
{% endblock %}
{% block body %}
    {% for value in values|dictsort:'since' %}
        <tr data-url="{% url 'residence-edition' value.id %}" class="clickable">
            <td>{{ value.since }}</td>
            <td>{{ value.location }}</td>
        </tr>
    {% endfor %}
    <script>
        $(() => {
            $('table#residence-table td').click(function () {
                window.location.href = $(this).parent().data('url');
            });
        })
    </script>
{% endblock %}