{% extends 'app/table_base.html' %}
{% block id %}musician-table{% endblock %}
{% block head %}
    {% if participant_form %}
        <th scope="col"></th>
    {% elif participant_hour_form %}
        <th scope="col">Hours</th>
    {% endif %}
    <th scope="col">First name</th>
    <th scope="col">Last name 1</th>
    <th scope="col">Last name 2</th>
    <th scope="col">Instrument/Voice</th>
{% endblock %}
{% block body %}
    {% for musician in musicians %}
        <tr id="musician-{{musician.id}}" data-url="{% url 'musician' musician.id %}" class="clickable">
            {% if participant_form %}
                <td><input class="js_participation" type="checkbox" checked="false" /></td>
            {% elif participant_hour_form %}
                <td>
                    <!--<input id="full_checkbox" type="checkbox" class="js_participation" checked="false" />
                    <label for="full_checkbox">Full</label>-->
                    <input class="js_hour_participation" type="text" />
                </td>
            {% endif %}
            <td>{{ musician.first_name }}</td>
            <td>{{ musician.last_name_1|default:'' }}</td>
            <td>{{ musician.last_name_2|default:'' }}</td>
            <td>{{ musician.get_instrument }}</td>
        </tr>
    {% endfor %}
    {% if participant_form %}
        <script>
            const getTrId = elem => elem.parentElement.parentElement.id.split('-')[1];
            $(() => {
                $('div#actual-form select option').each((i, elem) => {
                    $(`table#musician-table tr#musician-${elem.value} input.js_participation`).prop('checked', $(elem).prop('selected'))
                });
                $('table#musician-table input.js_participation').click(function (e) {
                    e.stopPropagation();
                    const hiddenInput = $($('div#actual-form select option').filter((i, elem) => elem.value === getTrId(this))[0]);
                    hiddenInput.prop('selected', !hiddenInput.prop('selected'));
                    this.checked = hiddenInput.prop('selected');
                });
                $('table#musician-table tr').click(function() {
                    $(this).find('input.js_participation').get(0).click();
                })
            })
        </script>
    {% elif participant_hour_form %}
        <script>
            $(() => {
                const rehearsalDuration = $('div#actual-form input#id_duration');
                // Changes on rehearsal duration modify the checkbox (if increasing) or the input value (if decreasing)
                rehearsalDuration.on('input', e => {
                    console.log(e.target.value)
                })
                $('div#actual-form input').each((i, elem) => {
                    if (!elem.id.startsWith('id_participant_')) return;
                    const id = elem.id.substring('id_participant_'.length);
                    const durationInput = $(`table#musician-table tr#musician-${id} input.js_hour_participation`);
                    // const checkbox = $(`table#musician-table tr#musician-${id} input.js_participation`);

                    // Set initial values for checkbox and text input
                    durationInput.val(elem.value);
                    // checkbox.prop('checked', elem.value === rehearsalDuration.val());

                    // Wire checkbox
                    /*checkbox.click(e => {
                        if (e.target.checked) durationInput.val(rehearsalDuration.val());
                        else durationInput.val('00:00:00');
                    });*/

                    durationInput.on('input', e => {
                        elem.value = e.target.value;
                    });
                });
            });
        </script>
    {% else %}
        <script>
            $(() => {
                $('table#musician-table td').click(function () {
                    window.location.href = $(this).parent().data('url');
                });
            });
        </script>
    {% endif %}
{% endblock %}
