{% extends 'app/table_base.html' %}
{% block id %}locations{% endblock %}
{% block head %}
    <th scope="col">Name</th>
    <th scope="col">Distance (km)</th>
{% endblock %}
{% block body %}
    {% for value in values|dictsort:'name' %}
        <tr>
            <td>{{ value.name }}</td>
            <td>{{ value.distance_to_home }}</td>
        </tr>
    {% endfor %}
{% endblock %}