<table id="{% block id %}{% endblock %}" class="table table-striped table-hover">
    <thead>
        <tr>
            {% block head %}
            {% endblock %}
        </tr>
    </thead>
    <tbody>
        {% block body %}
        {% endblock %}
    </tbody>
</table>