{% extends 'app/table_base.html' %}
{% block id %}historical-table{% endblock %}
{% block head %}
    <th scope="col">Date</th>
    <th scope="col">Value ({{ unit }})</th>
{% endblock %}
{% block body %}
    {% for value in values|dictsort:'since' %}
        <tr data-url="{% url edit_url_name value.id %}" class="clickable">
            <td>{{ value.since }}</td>
            <td>{{ value.amount }}</td>
        </tr>
    {% endfor %}
    <script>
        $(() => {
            $('table#historical-table td').click(function () {
                window.location.href = $(this).parent().data('url');
            });
        })
    </script>
{% endblock %}