body {
    background-color: FAF4E8;
}

.clickable {
    cursor: pointer;
}

.aligned-form > p {
    display: flex;
    justify-content: space-between;
}

.aligned-form > p > label {
    padding-right: 1em;
}

.aligned-form > p > input {
    flex: 1;
    min-width: 0;
}

.aligned-form > p > span {
    padding-left: 0.5em;
}

.errorlist {
    color: red;
}

.delete-row {
    width: 30px;
    color: red;
}